* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--font-color1);
  direction: ltr;
}

:root {
  --main-color1: #ccd3dc;
  --main-color2: #79baec;
  --main-color3: #4b7897;
  --main-color4: gray;

  --font-color1: #000000;
  --font-color2: #ffffff;
}
