.main {
  background-color: var(--main-color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 768px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.font1 {
  color: var(--font-color1);
}

.font2 {
  color: var(--font-color2);
}
